<script
  src="https://beamanalytics.b-cdn.net/beam.min.js"
  data-token="1eba43b6-5afa-4591-83a4-275a5ba2a77d"
  async
>
</script>



<script type="text/javascript">
  var sc_project=13111303; 
  var sc_invisible=1; 
  var sc_security="cef0a9f7"; 
  var sc_client_storage="disabled"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="real time web
  analytics" href="https://statcounter.com/"
  target="_blank"><img class="statcounter"
  src="https://c.statcounter.com/13111303/0/cef0a9f7/1/"
  alt="real time web analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->

