<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="ngeAZt4h9vf4cxnTnD5aL65CVPbQfFj0SDbptsNFcxk" />
    <meta name="theme-color" content={{ site.theme_color | default: '#000000' }}>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="shortcut icon" type="image/png"
          {% if site.favicon %} href="{{ site.favicon | relative_url }}" {% else %} href="{{ site.baseurl }}/favicon.jpg" {% endif %}
    />
    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="b01c63bd-efa9-4e95-92de-e4ea2340de14" data-blockingmode="auto" type="text/javascript"></script>
    <script data-cookieconsent="ignore">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      // EU-specific settings
      gtag('consent', 'default', {
          'ad_personalization': 'denied',
          'ad_storage': 'denied',
          'ad_user_data': 'denied',
          'analytics_storage': 'denied',
          'functionality_storage': 'denied',
          'personalization_storage': 'denied',
          'region': [
            'GB','AT','BE','BG','CH','CY','DE','DK','EE','ES','FI',
            'FR','GG','GR','HR','HU','IE','IM','IT','JE','LT','LU',
            'LV','MT','NL','PL','PT','RO','SE','SI','SK'
          ],
          'wait_for_update': 5,
      });
      // Default settings
      gtag('consent', 'default', {
          'ad_personalization': 'granted',
          'ad_storage': 'granted',
          'ad_user_data': 'granted',
          'analytics_storage': 'granted',
          'functionality_storage': 'granted',
          'personalization_storage': 'granted',
          'security_storage': 'granted',
          'wait_for_update': 5,
      });
      gtag('set', 'ads_data_redaction', true);
      gtag('set', 'url_passthrough', false);
  </script>

    {% unless site.hide_share_buttons %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
    {% endunless %}
    {% seo %}
    {% if site.feed %}
    {% feed_meta %}
    {% endif %}
    {%- if site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}
</head>
